/*
!inside form container styles
*/
.leftsideFrorm{
    width:50%
}
.rightsideForm{
    background: skyblue;
width:50%
}


.submit{
    
    height:40px;
    width:100px
}

/*
!left section of form  styles
*/












/*
! right section of form styles
*/